body{
    background-color: rgb(239, 142, 229);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scrolling-box{
    background-color: rgb(243, 233, 219);
    text-align: center;
    justify-content: baseline;
    display: block;
    height: 200px;
    width: 200px;
    padding: 6em;
    overflow-y: scroll;
}

section{
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
}